@model AsyncInnReWrite.Models.DTO.RegisterUserDTO
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form>
    @Html.DisplayNameFor(model => model.Username)
    @Html.TextBoxFor(model => model.Username)

    @Html.DisplayNameFor(model => model.Email)
    @Html.TextBoxFor(model => model.Email)

    @Html.DisplayNameFor(model => model.Password)
    @Html.PasswordFor(model => model.Password)

    @Html.DisplayNameFor(model => model.PhoneNumber)
    @Html.TextBoxFor(model => model.PhoneNumber)
    @*<input id="email" type="email" />
    <input id="pswd" type="password" />
    <input id="phn" type="tel"/>*@
    <button type="submit" href="">Register Account</button>
</form>